Repository RoseSecurity/Terramaid: changes, and which pre-commit hooks are due for each by the changed paths.
All: gofumpt, rebuild-docs

.pre-commit-config.yaml:

# Copyright (c) RoseSecurity
# SPDX-License-Identifier: Apache-2.0

repos:
  - repo: local
    hooks:
      - id: gofumpt
        name: gofumpt
        entry: bash -c 'make fmt'
        language: system
        types: ["go"]
        files: main.go|cmd\/.*|internal\/.*
        pass_filenames: false
  - repo: local
    hooks:
      - id: rebuild-docs
        name: rebuild-docs
        entry: bash -c 'make docs'
        language: system
        files: cmd\/.*
        pass_filenames: false
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.16.3
    hooks:
      - id: gitleaks
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.52.2
    hooks:
      - id: golangci-lint
  - repo: https://github.com/jumanjihouse/pre-commit-hooks
    rev: 3.0.0
    hooks:
      - id: shellcheck
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace

fix: sanitize Mermaid IDs for flowchart compatibility
  Makefile
  internal/flowchart.go
  internal/flowchart_test.go
  internal/parse.go
Due: gofumpt

fix: make it more performant and fix makefile
  Makefile
  internal/flowchart.go
Due: gofumpt

feat(flowchart): add --resources-only flag for diagrams
  .golangci.bck.yml
  Terranew.md
  Terraold.md
  cmd/new_run_cmd.go
  cmd/run.go
  cmd/run_fuzz_test.go
  internal/flowchart.go
  internal/parse_terraform_fuzz.go
  test/large/main.tf
  test/large/outputs.tf
  test/large/providers.tf
  test/large/variables.tf
  test/large/versions.tf
Due: gofumpt, rebuild-docs

chore: remove test files
  Terranew.md
  Terraold.md
Due: none

chore: add back test files
  cmd/new_run_cmd.go
  cmd/run.go
  cmd/run_fuzz_test.go
Due: gofumpt, rebuild-docs

fix: update description
  test/large/outputs.tf
Due: none

feat: add advanced filtering for diagram generation
  cmd/run.go
  internal/flowchart.go
  internal/flowchart_test.go
Due: gofumpt, rebuild-docs

fix: handle non-200 responses in version fetch
  cmd/version.go
Due: gofumpt, rebuild-docs

fix(nix): remove "tools" package from build
  default.nix
Due: none

fix(nix): specify go.sum folder
  default.nix
Due: none

fix(nix): apparently running 'go get' on the copywrite module fixed it
  default.nix
  go.sum
Due: none

Remove Go dependencies update rule
  renovate.json
Due: none

refactor: modernize Go code with iter and any type
  internal/flowchart.go
  pkg/utils/logging.go
Due: gofumpt

refactor: improve code quality and fix linting issues
  cmd/new_run_cmd.go
  cmd/root.go
  cmd/run.go
  cmd/run_fuzz_test.go
  internal/flowchart.go
  pkg/utils/utils.go
Due: gofumpt, rebuild-docs

fix: update vendorHash for go module dependencies
  default.nix
Due: none

chore: docs and formatting updates
  .copywrite.hcl
  .devcontainer/Dockerfile
  .devcontainer/rootfs/home/vscode/.config/starship.toml
  .github/CODEOWNERS
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/codeql.yml
  SECURITY.md
  docs/Getting_Started.md
  docs/terramaid_completion.md
  docs/terramaid_completion_bash.md
  docs/terramaid_completion_fish.md
  docs/terramaid_completion_powershell.md
  docs/terramaid_completion_zsh.md
  docs/terramaid_run.md
  docs/terramaid_version.md
  flake.nix
  test/aws/outputs.tf
  test/aws/providers.tf
  test/az/main.tf
  test/az/outputs.tf
  test/az/providers.tf
  test/az/variables.tf
  test/large/providers.tf
  test/multi/variables.tf
  test/multi/versions.tf
Due: none

chore: update comments
  cmd/version.go
Due: gofumpt, rebuild-docs

build: convert to using gomod2nix
  default.nix
  flake.lock
  flake.nix
  gomod2nix.toml
  shell.nix
Due: none

fix: go toolchain error
  default.nix
  flake.nix
  gomod2nix.toml
Due: none

fix: overlay not extending into fina
  flake.nix
Due: none
